Repository momentum-design/momentum-ui, pull requests merged in 2019-11, with the labels that each got.

#445 Charts Legends Component
  charts/src/app/index.js
  charts/src/lib/index.js
  charts/src/lib/legends/example/index.js
  charts/src/lib/legends/index.js
  charts/src/lib/legends/test/index.spec.js
  charts/src/lib/responsive/index.js
  charts/src/lib/text/index.js
Labels: chart

#448 feat(Vue): add ComboBox
  vue/components.json
  vue/src/examples.js
  vue/src/index.js
  vue/src/lib/combo-box/examples/clear.vue
  vue/src/lib/combo-box/examples/default.vue
  vue/src/lib/combo-box/examples/index.js
  vue/src/lib/combo-box/index.js
  vue/src/lib/combo-box/index.vue
  vue/src/lib/combo-box/tests/__snapshots__/combo-box.spec.js.snap
  vue/src/lib/combo-box/tests/combo-box.spec.js
  vue/src/lib/input-search/index.vue
  vue/src/lib/input/index.vue
  vue/src/lib/utils/cloneElement.js
Labels: @vue, REVIEW

#459 core(fix) undo background color added for refresh
  core/scss/tools/placeholders/page-layout.scss
Labels: @core, REVIEW

#461 feat(Vue): add Accordion, DatePicker
  vue/components.json
  vue/package.json
  vue/src/examples.js
  vue/src/index.js
  vue/src/lib/accordion-content/index.js
  vue/src/lib/accordion-content/index.vue
  vue/src/lib/accordion-content/tests/__snapshots__/accordion-content.spec.js.snap
  vue/src/lib/accordion-content/tests/accordion-content.spec.js
  vue/src/lib/accordion-group/index.js
  vue/src/lib/accordion-group/index.vue
  vue/src/lib/accordion-group/tests/__snapshots__/accordion-group.spec.js.snap
  vue/src/lib/accordion-group/tests/accordion-group.spec.js
  vue/src/lib/accordion-header/index.js
  vue/src/lib/accordion-header/index.vue
  vue/src/lib/accordion-header/tests/__snapshots__/accordion-header.spec.js.snap
  vue/src/lib/accordion-header/tests/accordion-header.spec.js
  vue/src/lib/accordion/examples/default.vue
  vue/src/lib/accordion/examples/index.js
  vue/src/lib/accordion/examples/multi-open.vue
  vue/src/lib/accordion/examples/pre-selected-open.vue
  vue/src/lib/accordion/index.js
  vue/src/lib/accordion/index.vue
  vue/src/lib/accordion/tests/__snapshots__/accordion.spec.js.snap
  vue/src/lib/accordion/tests/accordion.spec.js
  vue/src/lib/combo-box/index.vue
  vue/src/lib/date-picker-calendar/index.js
  vue/src/lib/date-picker-calendar/index.vue
  vue/src/lib/date-picker-calendar/tests/date-picker-calendar.spec.js
  vue/src/lib/date-picker-day/index.js
  vue/src/lib/date-picker-day/index.vue
  vue/src/lib/date-picker-day/tests/__snapshots__/date-picker-day.spec.js.snap
  vue/src/lib/date-picker-day/tests/date-picker-day.spec.js
  vue/src/lib/date-picker-month/index.js
  vue/src/lib/date-picker-month/index.vue
  vue/src/lib/date-picker-month/tests/__snapshots__/date-picker-month.spec.js.snap
  vue/src/lib/date-picker-month/tests/date-picker-month.spec.js
  vue/src/lib/date-picker-week/index.js
  vue/src/lib/date-picker-week/index.vue
  vue/src/lib/date-picker-week/tests/__snapshots__/date-picker-week.spec.js.snap
  vue/src/lib/date-picker-week/tests/date-picker-week.spec.js
  vue/src/lib/date-picker/examples/default.vue
  vue/src/lib/date-picker/examples/index.js
  vue/src/lib/date-picker/index.js
  vue/src/lib/date-picker/index.vue
  vue/src/lib/date-picker/tests/__snapshots__/date-picker.spec.js.snap
  vue/src/lib/date-picker/tests/date-picker.spec.js
  vue/src/lib/event-overlay/index.vue
  vue/src/lib/label/index.vue
  vue/src/lib/modal/index.vue
  vue/src/lib/utils/dateUtils.js
  vue/src/lib/utils/index.js
Labels: @vue, REVIEW

#463 fix(select): update to new structure/style
  angular/src/lib/select/select.component.ts
  angularjs/src/lib/components/select/examples/kitchen-sink.component.ts
  angularjs/src/lib/components/select/index.ts
  angularjs/src/lib/components/select/select.component.html
  angularjs/src/lib/components/select/select.component.ts
  angularjs/src/lib/directives/dropdown/dropdown.directive.ts
  core/scss/components/input/examples/kitchen-sink.html
  core/scss/components/select/select.scss
  core/scss/ng/dropdown.scss
  core/scss/ng/select.scss
Labels: @angularjs, @core, REVIEW

#468 fix(data-table): add margin-botton: 0 to fix override styling
  core/scss/components/data-table/data-table.scss
Labels: @angular, REVIEW

#469 fix(core): Provision 5317 fix phone number input alignment
  core/scss/components/input-phone-number/input-phone-number.scss
Labels: @core, REVIEW

#472 Data-Table Virtual Load Update
  angular/src/lib/data-table/data-table-scroll.component.ts
  angular/src/lib/data-table/data-table.component.ts
  angular/src/lib/data-table/examples/data-table-example-service.ts
  angular/src/lib/data-table/examples/data-table-examples.module.ts
  angular/src/lib/data-table/examples/data-table-virtual-scroll.component.ts
  angular/src/lib/data-table/examples/data/people-large.json
  angular/src/lib/data-table/examples/data/people-small.json
  yarn.lock
Labels: @angular, REVIEW

#484 fix(chart): fix typo
  charts/README.md
  charts/doc/README.md
  charts/doc/api/arc.md
  charts/doc/api/area.md
  charts/doc/api/axis.md
  charts/doc/api/break.md
  charts/doc/api/legends.md
  charts/doc/api/line.md
  charts/doc/api/rect.md
  charts/doc/api/shape.md
  charts/doc/api/symbol.md
  charts/doc/api/text.md
  charts/doc/fundamentals/dataManagement.md
  charts/doc/fundamentals/domStructor.md
  charts/doc/fundamentals/eventControl.md
  charts/doc/fundamentals/generator.md
  charts/doc/fundamentals/lifeCircle.md
  charts/doc/fundamentals/modify.md
Labels: bug, chart, docs
