Repository momentum-design/momentum-ui, pull requests merged in 2019-10, with the labels that each got.

#414 fix(topbar-mobile): input not able to use 'SPACE' key on topbar
  angular/src/lib/topbar/topbar-mobile.component.ts
Labels: @angular, REVIEW

#422 feat(core): sidebar - add white theme
  core/scss/components/list-item/mixins.scss
  core/scss/components/sidebar/sidebar.scss
Labels: @core, REVIEW

#423 feat(angular): add topbar absolute property
  angular/src/lib/topbar/topbar.component.ts
  core/scss/components/top-bar/top-bar.scss
Labels: @angular, @core, REVIEW

#416 feat(angular): tooltip add more functionality
  angular/src/lib/tooltip/tests/tooltip.component.spec.ts
  angular/src/lib/tooltip/tooltip-container.component.ts
  angular/src/lib/tooltip/tooltip.directive.ts
Labels: @angular, REVIEW

#436 fix(charts): reference customElements on window
  charts/src/lib/webComponents.js
Labels: @angular

#430 feat(data-table): add custom sort
  angular/src/lib/data-table/data-table.component.ts
  angular/src/lib/data-table/examples/data-table-custom-sort.component.ts
  angular/src/lib/data-table/examples/data-table-examples.module.ts
  angular/src/lib/data-table/examples/index.ts
Labels: @angular, REVIEW

#433 fix(select): add placeholder and text ellipsis on small screen size
  angular/src/lib/select/examples/select-default.component.ts
  angular/src/lib/select/examples/select-filter.component.ts
  angular/src/lib/select/examples/select-forms.component.ts
  angular/src/lib/select/examples/select-multi-filter.component.ts
  angular/src/lib/select/examples/select-multi.component.ts
  angular/src/lib/select/select.component.ts
  core/scss/components/select/select.scss
Labels: @angular, REVIEW

#435 feat(Vue): add Select
  vue/components.json
  vue/package.json
  vue/src/examples.js
  vue/src/index.js
  vue/src/lib/button/examples/color.vue
  vue/src/lib/checkbox-group/tests/__snapshots__/checkbox-group.spec.js.snap
  vue/src/lib/checkbox/index.vue
  vue/src/lib/checkbox/tests/__snapshots__/checkbox.spec.js.snap
  vue/src/lib/icon/examples/white.vue
  vue/src/lib/icon/index.vue
  vue/src/lib/list-item/index.vue
  vue/src/lib/list/index.vue
  vue/src/lib/modal/examples/dialog.vue
  vue/src/lib/modal/examples/index.js
  vue/src/lib/radio-group/tests/__snapshots__/radio-group.spec.js.snap
  vue/src/lib/radio/index.vue
  vue/src/lib/radio/tests/__snapshots__/radio.spec.js.snap
  vue/src/lib/select-option/index.js
  vue/src/lib/select-option/index.vue
  vue/src/lib/select-option/tests/__snapshots__/select-option.spec.js.snap
  vue/src/lib/select-option/tests/select-option.spec.js
  vue/src/lib/select/examples/default.vue
  vue/src/lib/select/examples/index.js
  vue/src/lib/select/examples/multi-select.vue
  vue/src/lib/select/index.js
  vue/src/lib/select/index.vue
  vue/src/lib/select/tests/__snapshots__/select.spec.js.snap
  vue/src/lib/select/tests/select.spec.js
Labels: @vue, REVIEW

#437 Databind Event and Dom Event bind
  charts/src/app/index.js
  charts/src/lib/board/index.js
  charts/src/lib/index.js
  charts/src/lib/line/example/index.js
  charts/src/lib/responsive/example/index.js
  charts/src/lib/responsive/index.js
  charts/src/lib/responsive/responsiveItem.js
  charts/src/lib/shape/index.js
  charts/src/lib/symbol/example/index.js
  charts/src/lib/template/example/index.js
  charts/src/lib/template/index.js
  charts/src/lib/template/preset.js
  charts/src/lib/template/preset/singleRect.js
  charts/src/lib/utils/layer.js
Labels: REVIEW, chart

#442 fix(checkbox): emitter only to fire once
  angular/src/lib/checkbox/checkbox.component.ts
  angular/src/lib/checkbox/examples/default.component.ts
  angular/src/lib/checkbox/examples/single.component.ts
Labels: @angular, REVIEW

#449 fix(angular): fix tooltip allowHover behavior
  angular/src/lib/tooltip/tooltip.directive.ts
Labels: @angular, REVIEW
