Repository momentum-design/momentum-ui, pull requests merged in 2019-09, with the labels that each got.

#356 fix(core): layout bug in top bar for brand section and right section
  angular/src/lib/topbar/examples/examples.module.ts
  angular/src/lib/topbar/examples/index.ts
  angular/src/lib/topbar/examples/nomiddle.component.ts
  core/scss/components/top-bar/examples/blue.html
  core/scss/components/top-bar/examples/default.html
  core/scss/components/top-bar/examples/light.html
  core/scss/components/top-bar/top-bar.scss
  react/src/lib/Topbar/index.js
  react/src/lib/Topbar/tests/__snapshots__/index.spec.js.snap
Labels: @angular, @core, @react, REVIEW

#369 fix(breadcrumbs): add cursor: pointer to breadcrumbs
  core/scss/components/breadcrumbs/breadcrumbs.scss
Labels: @core, REVIEW

#385 feat(Vue): Input rework
  .gitignore
  vue/components.json
  vue/package.json
  vue/src/examples.js
  vue/src/index.js
  vue/src/lib/icon/index.vue
  vue/src/lib/input-helper/examples/default.vue
  vue/src/lib/input-helper/examples/index.js
  vue/src/lib/input-helper/index.js
  vue/src/lib/input-helper/index.vue
  vue/src/lib/input-helper/tests/__snapshots__/input-helper.spec.js.snap
  vue/src/lib/input-helper/tests/input-helper.spec.js
  vue/src/lib/input-message/index.js
  vue/src/lib/input-message/index.vue
  vue/src/lib/input-message/tests/__snapshots__/input-message.spec.js.snap
  vue/src/lib/input-message/tests/input-message.spec.js
  vue/src/lib/input-search/examples/default.vue
  vue/src/lib/input-search/examples/index.js
  vue/src/lib/input-search/examples/loading.vue
  vue/src/lib/input-search/examples/pill.vue
  vue/src/lib/input-search/index.js
  vue/src/lib/input-search/index.vue
  vue/src/lib/input-search/tests/__snapshots__/input-search.spec.js.snap
  vue/src/lib/input-search/tests/input-search.spec.js
  vue/src/lib/input-section/index.js
  vue/src/lib/input-section/index.vue
  vue/src/lib/input-section/tests/__snapshots__/input-section.spec.js.snap
  vue/src/lib/input-section/tests/input-section.spec.js
  vue/src/lib/input/examples/clear.vue
  vue/src/lib/input/examples/dark.vue
  vue/src/lib/input/examples/default.vue
  vue/src/lib/input/examples/disabled.vue
  vue/src/lib/input/examples/error.vue
  vue/src/lib/input/examples/help-text.vue
  vue/src/lib/input/examples/index.js
  vue/src/lib/input/examples/nested.vue
  vue/src/lib/input/examples/readonly.vue
  vue/src/lib/input/examples/secondary-label.vue
  vue/src/lib/input/examples/success.vue
  vue/src/lib/input/examples/textarea.vue
  vue/src/lib/input/examples/validation.vue
  vue/src/lib/input/examples/warning.vue
  vue/src/lib/input/index.js
  vue/src/lib/input/index.vue
  vue/src/lib/input/tests/__snapshots__/input.spec.js.snap
  vue/src/lib/input/tests/input.spec.js
  vue/src/lib/spinner/examples/default.vue
  vue/src/lib/spinner/examples/index.js
  vue/src/lib/spinner/index.js
  vue/src/lib/spinner/index.vue
  vue/src/lib/spinner/tests/__snapshots__/spinner.spec.js.snap
  vue/src/lib/spinner/tests/spinner.spec.js
  vue/tools/copy-examples.js
Labels: @vue, REVIEW

#390 Topbar context
  react/src/lib/Topbar/examples/Blue.js
  react/src/lib/Topbar/examples/Dark.js
  react/src/lib/Topbar/examples/KitchenSink.js
  react/src/lib/Topbar/examples/Light.js
  react/src/lib/Topbar/examples/NoMiddle.js
  react/src/lib/Topbar/examples/index.js
  react/src/lib/Topbar/index.js
  react/src/lib/Topbar/tests/__snapshots__/index.spec.js.snap
  react/src/lib/Topbar/tests/index.spec.js
  react/src/lib/TopbarMobile/index.js
  react/src/lib/TopbarMobile/tests/__snapshots__/index.spec.js.snap
  react/src/lib/TopbarMobile/tests/index.spec.js
  react/src/lib/TopbarNav/index.js
  react/src/lib/TopbarNav/tests/__snapshots__/index.spec.js.snap
  react/src/lib/TopbarNav/tests/index.spec.js
  react/src/lib/TopbarRight/index.js
  react/src/lib/TopbarRight/tests/__snapshots__/index.spec.js.snap
  react/src/lib/TopbarRight/tests/index.spec.js
  react/src/lib/utils/index.js
  react/src/lib/utils/prefixer/index.js
  yarn.lock
Labels: @react, REVIEW, docs

#386 feat(Card): implement card and card section components
  react/src/app/containers/KitchenSink/index.js
  react/src/lib/Card/examples/Clickable.js
  react/src/lib/Card/examples/Content.js
  react/src/lib/Card/examples/Content2.js
  react/src/lib/Card/examples/Default.js
  react/src/lib/Card/examples/KitchenSink.js
  react/src/lib/Card/examples/index.js
  react/src/lib/Card/index.js
  react/src/lib/Card/tests/__snapshots__/index.spec.js.snap
  react/src/lib/Card/tests/index.spec.js
  react/src/lib/CardSection/examples/Default.js
  react/src/lib/CardSection/examples/FullSection.js
  react/src/lib/CardSection/examples/StyledSection.js
  react/src/lib/CardSection/examples/index.js
  react/src/lib/CardSection/index.js
  react/src/lib/CardSection/tests/__snapshots__/index.spec.js.snap
  react/src/lib/CardSection/tests/index.spec.js
  react/src/lib/index.js
Labels: @react, REVIEW, new component

#393 fix(icon): center icons in icon container
  angular/src/docs/app/kitchen-sink/kitchen-sink.component.ts
  angular/src/docs/app/playground/playground.component.ts
  angular/src/lib/alert/tests/__snapshots__/alert.service.spec.ts.snap
  angular/src/lib/call-control/tests/__snapshots__/call-control.component.spec.ts.snap
  angular/src/lib/combo-box/tests/__snapshots__/combo-box.component.spec.ts.snap
  angular/src/lib/drawer/tests/__snapshots__/drawer.component.spec.ts.snap
  angular/src/lib/icon/icon.component.ts
  angular/src/lib/icon/icon.module.ts
  angular/src/lib/icon/tests/icon.component.spec.ts
  angular/src/lib/input/examples/kitchen-sink.component.ts
  core/app/containers/KitchenSink/index.js
  core/app/containers/Playground/index.js
  core/scss/components/checkbox/checkbox.scss
  core/scss/components/icon/icon.scss
  core/scss/components/input/examples/kitchen-sink.html
  core/scss/components/input/input.scss
  core/scss/components/input/mixins.scss
  core/scss/components/radio/radio.scss
  react/src/app/containers/KitchenSink/index.js
  react/src/app/containers/Playground/index.js
  react/src/lib/Input/examples/KitchenSink.js
Labels: @angular, @core, REVIEW

#398 Chart
  charts/src/app/index.js
  charts/src/lib/arc/index.js
  charts/src/lib/area/index.js
  charts/src/lib/line/index.js
  charts/src/lib/symbol/index.js
Labels: bug, chart

#399 feat(Vue): add Tooltip, Tabs
  vue/components.json
  vue/src/examples.js
  vue/src/index.js
  vue/src/lib/popover/index.vue
  vue/src/lib/tab-content/index.js
  vue/src/lib/tab-content/index.vue
  vue/src/lib/tab-content/tests/__snapshots__/tab-content.spec.js.snap
  vue/src/lib/tab-content/tests/tab-content.spec.js
  vue/src/lib/tab-list/index.js
  vue/src/lib/tab-list/index.vue
  vue/src/lib/tab-list/tests/__snapshots__/tab-list.spec.js.snap
  vue/src/lib/tab-list/tests/tab-list.spec.js
  vue/src/lib/tab-pane/index.js
  vue/src/lib/tab-pane/index.vue
  vue/src/lib/tab-pane/tests/__snapshots__/tab-pane.spec.js.snap
  vue/src/lib/tab-pane/tests/tab-pane.spec.js
  vue/src/lib/tab/index.js
  vue/src/lib/tab/index.vue
  vue/src/lib/tab/tests/tab.spec.js
  vue/src/lib/tabs/examples/default.vue
  vue/src/lib/tabs/examples/index.js
  vue/src/lib/tabs/examples/justified.vue
  vue/src/lib/tabs/index.js
  vue/src/lib/tabs/index.vue
  vue/src/lib/tabs/tests/__snapshots__/tabs.spec.js.snap
  vue/src/lib/tabs/tests/tabs.spec.js
  vue/src/lib/tooltip/examples/default.vue
  vue/src/lib/tooltip/examples/delay.vue
  vue/src/lib/tooltip/examples/direction.vue
  vue/src/lib/tooltip/examples/index.js
  vue/src/lib/tooltip/index.js
  vue/src/lib/tooltip/index.vue
  vue/src/lib/tooltip/tests/__snapshots__/tooltip.spec.js.snap
  vue/src/lib/tooltip/tests/tooltip.spec.js
Labels: @vue, REVIEW
