Repository momentum-design/momentum-ui, pull requests merged in 2019-06, with the labels that each got.

#255 fix(popover): add popoverTrigger Input
  angular/src/lib/popover/popover.directive.ts
  angular/src/lib/popover/tests/popover.component.spec.ts
Labels: @angular, bug

#264 feat(activity-button):create
  angular/src/docs/app/playground/playground.component.ts
  angular/src/lib/activity-button/activity-button.component.ts
  angular/src/lib/activity-button/activity-button.module.ts
  angular/src/lib/activity-button/examples/activity-button-default.component.ts
  angular/src/lib/activity-button/examples/activity-button-examples.module.ts
  angular/src/lib/activity-button/examples/index.ts
  angular/src/lib/activity-button/index.ts
  angular/src/lib/activity-button/test/activity-button.component.spec.ts
  angular/src/lib/examples.module.ts
Labels: @angular, REVIEW, new feature

#259 feat(Lightbox): add Angular Lightbox component
  angular/src/lib/examples.module.ts
  angular/src/lib/lightbox/examples/default.component.ts
  angular/src/lib/lightbox/examples/examples.module.ts
  angular/src/lib/lightbox/examples/index.ts
  angular/src/lib/lightbox/examples/multiple.component.ts
  angular/src/lib/lightbox/index.ts
  angular/src/lib/lightbox/lightbox-config.ts
  angular/src/lib/lightbox/lightbox.component.ts
  angular/src/lib/lightbox/lightbox.module.ts
  angular/src/lib/lightbox/lightbox.service.ts
  angular/src/lib/lightbox/tests/__snapshots__/lightbox.service.spec.ts.snap
  angular/src/lib/lightbox/tests/lightbox.service.spec.ts
  angular/src/lib/public_api.ts
  angular/src/lib/tooltip/tooltip.directive.ts
Labels: @angular, REVIEW

#265 feat(FormLayout): add form layout components
  angular/src/lib/examples.module.ts
  angular/src/lib/form/examples/examples.module.ts
  angular/src/lib/form/examples/index.ts
  angular/src/lib/form/examples/section.component.ts
  angular/src/lib/form/examples/subsection.component.ts
  angular/src/lib/form/form-content.component.ts
  angular/src/lib/form/form-info.component.ts
  angular/src/lib/form/form-section.component.ts
  angular/src/lib/form/form-subsection.component.ts
  angular/src/lib/form/form.component.ts
  angular/src/lib/form/form.module.ts
  angular/src/lib/form/index.ts
  angular/src/lib/form/tests/__snapshots__/form-content.component.spec.ts.snap
  angular/src/lib/form/tests/__snapshots__/form-info.component.spec.ts.snap
  angular/src/lib/form/tests/__snapshots__/form-section.component.spec.ts.snap
  angular/src/lib/form/tests/__snapshots__/form-subsection.component.spec.ts.snap
  angular/src/lib/form/tests/__snapshots__/form.component.spec.ts.snap
  angular/src/lib/form/tests/form-content.component.spec.ts
  angular/src/lib/form/tests/form-info.component.spec.ts
  angular/src/lib/form/tests/form-section.component.spec.ts
  angular/src/lib/form/tests/form-subsection.component.spec.ts
  angular/src/lib/form/tests/form.component.spec.ts
  angular/src/lib/public_api.ts
Labels: @angular, REVIEW

#268 fix(tooltip): add condition to include tooltip text
  angular/src/lib/popover/tests/__snapshots__/popover.component.spec.ts.snap
  angular/src/lib/tooltip/tests/__snapshots__/tooltip.component.spec.ts.snap
  angular/src/lib/tooltip/tooltip.component.ts
  angular/src/lib/tooltip/tooltip.directive.ts
Labels: @angular, REVIEW, bug

#274 fix(angular): lightbox - generate metadata for supporting aot builds
  angular/src/lib/lightbox/lightbox.module.ts
Labels: @angular, bug

#276 fix(sidebar): should support changes to nav items
  angular/src/lib/sidebar-nav/sidebar-nav.component.ts
  angular/src/lib/sidebar-nav/sidebar-nav.service.ts
Labels: @angular

#270 fix(Lightbox): add isContained=true to close tooltip
  react/src/lib/EventOverlay/index.js
  react/src/lib/Lightbox/index.js
  react/src/lib/Lightbox/tests/__snapshots__/index.spec.js.snap
Labels: @react, REVIEW, bug

#271 feat(Menu): add focusFirst and focusFirstQuery prop/logic
  react/src/lib/Menu/index.js
  react/src/lib/Menu/tests/index.spec.js
  react/src/lib/MenuOverlay/index.js
  react/src/lib/MenuOverlay/tests/__snapshots__/index.spec.js.snap
  react/src/lib/MenuOverlay/tests/index.spec.js
Labels: @react, REVIEW, enhancement

#277 chore(angular): build docs with prod aot compiler
  angular/package.json
  angular/src/lib/date-picker/examples/default.component.ts
  angular/src/lib/menu/examples/default.component.ts
  angular/src/lib/radio/examples/examples.module.ts
  angular/src/lib/sidebar/examples/sidebar-examples.module.ts
  angular/src/lib/time-picker/examples/default.component.ts
  angular/src/lib/time-picker/examples/minuteInterval.component.ts
Labels: @angular
