Repository momentum-design/momentum-ui, pull requests merged in 2019-08, with the labels that each got.

#291 fix(button): change throw error to console.warn for missing aria-label
  angular/src/lib/button/button.component.ts
Labels: @angular, REVIEW

#306 feat(arc): add interpolate
  chart/src/lib/arc/index.js
Labels: chart

#282 feat(data-table): ng7 data-table component
  angular/src/lib/accordion/accordion.component.ts
  angular/src/lib/data-table/data-table-checkbox.component.ts
  angular/src/lib/data-table/data-table-scroll.component.ts
  angular/src/lib/data-table/data-table-select-row.directive.ts
  angular/src/lib/data-table/data-table-sort-icon.component.ts
  angular/src/lib/data-table/data-table.component.ts
  angular/src/lib/data-table/data-table.module.ts
  angular/src/lib/data-table/data-table.service.ts
  angular/src/lib/data-table/examples/data-table-avatar.component.ts
  angular/src/lib/data-table/examples/data-table-default.component.ts
  angular/src/lib/data-table/examples/data-table-examples.module.ts
  angular/src/lib/data-table/examples/data-table-multi-select.component.ts
  angular/src/lib/data-table/examples/data-table-resize-component.ts
  angular/src/lib/data-table/examples/data-table-resize-scroll.component.ts
  angular/src/lib/data-table/examples/data-table-scroll.component.ts
  angular/src/lib/data-table/examples/data-table-selection.component.ts
  angular/src/lib/data-table/examples/data-table-sort-component.ts
  angular/src/lib/data-table/examples/data-table-virtual-scroll.component.ts
  angular/src/lib/data-table/examples/index.ts
  angular/src/lib/data-table/handler.ts
  angular/src/lib/data-table/index.ts
  angular/src/lib/data-table/resize-column.directive.ts
  angular/src/lib/data-table/shared.ts
  angular/src/lib/data-table/sort-column.directive.ts
  angular/src/lib/data-table/tests/data-table.component.spec.ts
  angular/src/lib/examples.module.ts
  angular/src/lib/public_api.ts
  core/fonts/CiscoSansTT-Medium.woff
  core/fonts/CiscoSansTT-Medium.woff2
  core/scss/components/data-table/data-table.scss
  core/scss/momentum-ui-components.scss
  core/scss/momentum-ui-ng.scss
  core/scss/momentum-ui.scss
  core/scss/ng/settings/settings.scss
  core/scss/settings/settings.scss
  core/scss/typography/settings.scss
  yarn.lock
Labels: @angular, REVIEW

#308 fix(input): support reactive form disabled state
  angular/src/lib/input/input.component.ts
Labels: @angular

#309 fix(input): bind label `htmlFor` input
  angular/src/lib/input/examples/default.component.ts
  angular/src/lib/input/input.component.ts
Labels: @angular

#324 fix (angular modal) changed data type
  angular/src/lib/modal/modal-ref.ts
  angular/src/lib/modal/modal.service.ts
Labels: @angular, REVIEW, bug

#325 feat(input): add warning built-in angular validator, update example
  angular/src/lib/input/examples/error.component.ts
  angular/src/lib/input/examples/examples.module.ts
  angular/src/lib/input/examples/success.component.ts
  angular/src/lib/input/examples/warning.component.ts
  angular/src/lib/input/input.component.ts
  angular/src/lib/input/tests/__snapshots__/input.component.spec.ts.snap
  core/scss/components/input/input.scss
Labels: @angular, REVIEW

#313 feat(Vue): add List, Checkbox, Radio Button
  vue/package.json
  vue/src/app/main.js
  vue/src/examples.js
  vue/src/index.js
  vue/src/lib/checkbox-group/index.vue
  vue/src/lib/checkbox-group/tests/__snapshots__/checkbox-group.spec.js.snap
  vue/src/lib/checkbox-group/tests/checkbox-group.spec.js
  vue/src/lib/checkbox/examples/default.vue
  vue/src/lib/checkbox/examples/disabled.vue
  vue/src/lib/checkbox/examples/group.vue
  vue/src/lib/checkbox/examples/indeterminate.vue
  vue/src/lib/checkbox/examples/index.js
  vue/src/lib/checkbox/examples/nested.vue
  vue/src/lib/checkbox/index.vue
  vue/src/lib/checkbox/tests/__snapshots__/checkbox.spec.js.snap
  vue/src/lib/checkbox/tests/checkbox.spec.js
  vue/src/lib/label/examples/default.vue
  vue/src/lib/label/examples/index.js
  vue/src/lib/label/index.vue
  vue/src/lib/label/tests/__snapshots__/label.spec.js.snap
  vue/src/lib/label/tests/label.spec.js
  vue/src/lib/list-item-header/examples/default.vue
  vue/src/lib/list-item-header/examples/index.js
  vue/src/lib/list-item-header/index.vue
  vue/src/lib/list-item-header/tests/__snapshots__/list-item-header.spec.js.snap
  vue/src/lib/list-item-header/tests/list-item-header.spec.js
  vue/src/lib/list-item-section/index.vue
  vue/src/lib/list-item-section/tests/__snapshots__/list-item-section.spec.js.snap
  vue/src/lib/list-item-section/tests/list-item-section.spec.js
  vue/src/lib/list-item/examples/default.vue
  vue/src/lib/list-item/examples/index.js
  vue/src/lib/list-item/examples/section.vue
  vue/src/lib/list-item/index.vue
  vue/src/lib/list-item/tests/__snapshots__/list-item.spec.js.snap
  vue/src/lib/list-item/tests/list-item.spec.js
  vue/src/lib/list-separator/index.vue
  vue/src/lib/list-separator/tests/__snapshots__/list-separator.spec.js.snap
  vue/src/lib/list-separator/tests/list-separator.spec.js
  vue/src/lib/list/examples/default.vue
  vue/src/lib/list/examples/header.vue
  vue/src/lib/list/examples/index.js
  vue/src/lib/list/examples/separator.vue
  vue/src/lib/list/index.vue
  vue/src/lib/list/tests/__snapshots__/list.spec.js.snap
  vue/src/lib/list/tests/list.spec.js
  vue/src/lib/radio-group/index.vue
  vue/src/lib/radio-group/tests/__snapshots__/radio-group.spec.js.snap
  vue/src/lib/radio-group/tests/radio-group.spec.js
  vue/src/lib/radio/examples/default.vue
  vue/src/lib/radio/examples/disabled.vue
  vue/src/lib/radio/examples/index.js
  vue/src/lib/radio/examples/nested.vue
  vue/src/lib/radio/index.vue
  vue/src/lib/radio/tests/__snapshots__/radio.spec.js.snap
  vue/src/lib/radio/tests/radio.spec.js
  vue/src/lib/utils/cloneElement.js
  vue/tools/bin/new.js
Labels: @vue, REVIEW
