Repository momentum-design/momentum-ui, pull requests merged in 2019-05, with the labels that each got.

#218 fix(modal, timepick, datepicker): fix overlay close bug
  angular/src/lib/date-picker/date-picker.component.ts
  angular/src/lib/modal/modal.component.ts
  angular/src/lib/time-picker/time-picker.component.ts
Labels: @angular, bug

#220 feat(coachmark):create
  angular/src/lib/coachmark/coachmark.component.ts
  angular/src/lib/coachmark/coachmark.module.ts
  angular/src/lib/coachmark/coachmark.service.ts
  angular/src/lib/coachmark/examples/coachmark-arrow.component.ts
  angular/src/lib/coachmark/examples/coachmark-backdrop.component.ts
  angular/src/lib/coachmark/examples/coachmark-default.component.ts
  angular/src/lib/coachmark/examples/coachmark-delay.component.ts
  angular/src/lib/coachmark/examples/coachmark-examples.module.ts
  angular/src/lib/coachmark/examples/coachmark-open.component.ts
  angular/src/lib/coachmark/examples/index.ts
  angular/src/lib/coachmark/index.ts
  angular/src/lib/coachmark/test/__snapshots__/coachmark.component.spec.ts.snap
  angular/src/lib/coachmark/test/coachmark.component.spec.ts
  angular/src/lib/coachmark/test/coachmark.service.spec.ts
  angular/src/lib/examples.module.ts
  angular/src/lib/public_api.ts
Labels: @angular, REVIEW

#212 Ng7 sidebar
  angular/src/docs/app/playground/playground.component.ts
  angular/src/lib/examples.module.ts
  angular/src/lib/list-item/list-item.component.ts
  angular/src/lib/list/examples/list-default.component.ts
  angular/src/lib/public_api.ts
  angular/src/lib/sidebar-body/index.ts
  angular/src/lib/sidebar-body/sidebar-body.component.ts
  angular/src/lib/sidebar-body/sidebar-body.module.ts
  angular/src/lib/sidebar-footer/index.ts
  angular/src/lib/sidebar-footer/sidebar-footer.component.ts
  angular/src/lib/sidebar-footer/sidebar-footer.module.ts
  angular/src/lib/sidebar-footer/tests/sidebar-footer.component.spec.ts
  angular/src/lib/sidebar-header/index.ts
  angular/src/lib/sidebar-header/sidebar-header.component.ts
  angular/src/lib/sidebar-header/sidebar-header.module.ts
  angular/src/lib/sidebar-header/tests/sidebar-header.component.spec.ts
  angular/src/lib/sidebar-nav-item/index.ts
  angular/src/lib/sidebar-nav-item/sidebar-nav-item.component.ts
  angular/src/lib/sidebar-nav-item/sidebar-nav-item.module.ts
  angular/src/lib/sidebar-nav/index.ts
  angular/src/lib/sidebar-nav/sidebar-nav.component.ts
  angular/src/lib/sidebar-nav/sidebar-nav.module.ts
  angular/src/lib/sidebar-nav/sidebar-nav.service.ts
  angular/src/lib/sidebar-nav/tests/sidebar-nav.component.spec.ts
  angular/src/lib/sidebar/examples/index.ts
  angular/src/lib/sidebar/examples/sidebar-dark.component.ts
  angular/src/lib/sidebar/examples/sidebar-default.component.ts
  angular/src/lib/sidebar/examples/sidebar-examples.module.ts
  angular/src/lib/sidebar/examples/sidebar-pageLevel.component.ts
  angular/src/lib/sidebar/examples/sidebar-withIcons.component.ts
  angular/src/lib/sidebar/index.ts
  angular/src/lib/sidebar/sidebar.component.ts
  angular/src/lib/sidebar/sidebar.module.ts
  angular/src/lib/sidebar/sidebar.service.ts
  angular/src/lib/sidebar/tests/sidebar.component.spec.ts
  core/scss/components/sidebar/sidebar.scss
  react/src/app/containers/Playground/insertExampleHere.js
Labels: @angular, REVIEW

#216 feat(Menu): add Angular Menu Component
  angular/src/lib/examples.module.ts
  angular/src/lib/menu/examples/custom-menu-item.component.ts
  angular/src/lib/menu/examples/default.component.ts
  angular/src/lib/menu/examples/examples.module.ts
  angular/src/lib/menu/examples/index.ts
  angular/src/lib/menu/examples/submenu.component.ts
  angular/src/lib/menu/index.ts
  angular/src/lib/menu/menu-content.component.ts
  angular/src/lib/menu/menu-item.component.ts
  angular/src/lib/menu/menu-trigger.directive.ts
  angular/src/lib/menu/menu.component.ts
  angular/src/lib/menu/menu.module.ts
  angular/src/lib/menu/tests/menu.spec.ts
  angular/src/lib/public_api.ts
Labels: @angular, REVIEW

#228 fix(date picker):fix event when veiw month change
  angular/src/lib/date-picker/date-picker.service.ts
Labels: @angular, bug

#240 feat (cards) angular & core
  angular/src/docs/app/playground/playground.component.ts
  angular/src/lib/card/card-section.component.ts
  angular/src/lib/card/card.component.ts
  angular/src/lib/card/card.module.ts
  angular/src/lib/card/examples/card-content.component.ts
  angular/src/lib/card/examples/card-content2.component.ts
  angular/src/lib/card/examples/card-default.component.ts
  angular/src/lib/card/examples/card-examples.module.ts
  angular/src/lib/card/examples/index.ts
  angular/src/lib/card/index.ts
  angular/src/lib/card/tests/__snapshots__/card.component.spec.ts.snap
  angular/src/lib/card/tests/card.component.spec.ts
  angular/src/lib/examples.module.ts
  angular/src/lib/public_api.ts
  core/scss/components/card/card.scss
  core/scss/components/card/examples/content.html
  core/scss/components/card/examples/content2.html
  core/scss/components/card/examples/default.html
  core/scss/components/card/module.scss
  core/scss/components/card/settings.scss
  core/scss/components/card/tests/card.cy.js
  core/scss/ng/card.scss
  react/src/lib/AlertCall/examples/index.js
Labels: @angular, @core, REVIEW

#243 feat(ComboBox): add Angular ComboBox component
  angular/src/lib/combo-box/combo-box.component.ts
  angular/src/lib/combo-box/combo-box.module.ts
  angular/src/lib/combo-box/examples/clear.component.ts
  angular/src/lib/combo-box/examples/default.component.ts
  angular/src/lib/combo-box/examples/examples.module.ts
  angular/src/lib/combo-box/examples/index.ts
  angular/src/lib/combo-box/examples/misc.component.ts
  angular/src/lib/combo-box/index.ts
  angular/src/lib/combo-box/tests/__snapshots__/combo-box.component.spec.ts.snap
  angular/src/lib/combo-box/tests/combo-box.component.spec.ts
  angular/src/lib/examples.module.ts
  angular/src/lib/public_api.ts
Labels: @angular, REVIEW

#251 feat: add collapse for code blocks
  www/client/components/CodeSection/CodeSection.scss
  www/client/components/CodeSection/index.js
  www/client/components/SubSection/index.js
  www/client/momentum-ui/CodeBlock/CodeBlock.scss
  www/client/momentum-ui/CodeBlock/Prism.scss
  www/client/momentum-ui/CodeBlock/index.js
  www/client/momentum-ui/Collapse/collapse.scss
  www/client/momentum-ui/Collapse/index.js
Labels: @site, REVIEW

#247 feat(pagination):create
  angular/src/lib/examples.module.ts
  angular/src/lib/pagination/examples/index.ts
  angular/src/lib/pagination/examples/pagination-default.component.ts
  angular/src/lib/pagination/examples/pagination-examples.module.ts
  angular/src/lib/pagination/index.ts
  angular/src/lib/pagination/pagination-arrow.component.ts
  angular/src/lib/pagination/pagination-arrow.module.ts
  angular/src/lib/pagination/pagination-number.component.ts
  angular/src/lib/pagination/pagination-number.module.ts
  angular/src/lib/pagination/pagination.component.ts
  angular/src/lib/pagination/pagination.module.ts
  angular/src/lib/pagination/pagination.scss
  angular/src/lib/pagination/pagination.service.ts
  angular/src/lib/pagination/test/__snapshots__/pagination.component.spec.ts.snap
  angular/src/lib/pagination/test/pagination.component.spec.ts
  angular/src/lib/public_api.ts
Labels: @angular, REVIEW, new feature

#249 feat(sidebar): enhancements
  angular/src/docs/app/playground/playground.component.ts
  angular/src/lib/sidebar-header/sidebar-header.component.ts
  angular/src/lib/sidebar-nav-item/sidebar-nav-item.component.ts
  angular/src/lib/sidebar-nav-item/sidebar-nav-item.module.ts
  angular/src/lib/sidebar/examples/index.ts
  angular/src/lib/sidebar/examples/sidebar-dark.component.ts
  angular/src/lib/sidebar/examples/sidebar-default.component.ts
  angular/src/lib/sidebar/examples/sidebar-dynamic.component.ts
  angular/src/lib/sidebar/examples/sidebar-examples.module.ts
  angular/src/lib/sidebar/examples/sidebar-page-level.component.ts
  angular/src/lib/sidebar/examples/sidebar-with-icons.component.ts
  angular/src/lib/sidebar/sidebar.component.ts
  core/scss/components/sidebar/sidebar.scss
Labels: @angular, REVIEW
