Repository momentum-design/momentum-ui, pull requests merged in 2020-01, with the labels that each got.

#517 fix(select): add warn/error class logic
  angular/src/lib/select/select.component.ts
  angularjs/src/lib/components/select/examples/kitchen-sink.component.ts
  angularjs/src/lib/components/select/select.component.html
  angularjs/src/lib/components/select/select.component.ts
  angularjs/src/lib/directives/dropdown/dropdown.directive.ts
  angularjs/src/lib/directives/input/input.directive.ts
  core/scss/components/input/examples/kitchen-sink.html
  core/scss/components/select/select.scss
  core/scss/ng/dropdown.scss
  core/scss/ng/select.scss
Labels: @angularjs, @core

#506 feat(charts): add plugin management system
  charts/src/lib/index.js
  charts/src/lib/plugins/example/index.js
  charts/src/lib/plugins/index.js
  charts/tools/init/init.js
  www/client/components/CodePen/index.js
  www/client/containers/SideNav/index.js
Labels: REVIEW, chart

#521 fix(select): set scroll to active item when overlay is opened
  angular/src/lib/select/examples/select-custom-content.component.ts
  angular/src/lib/select/examples/select-default.component.ts
  angular/src/lib/select/select.component.ts
Labels: @angular, REVIEW
