Repository momentum-design/momentum-ui, pull requests merged in 2021-04, with the labels that each got.

#841 chore(web-components):bump version for webpack merge
  web-components/package.json
Labels: web component

#840 docs(web-components): button readme, storybook docs and improvements
  web-components/src/components/button/Button.mdx
  web-components/src/components/button/Button.stories.ts
  web-components/src/components/button/README.md
Labels: docs, web component

#839 fix(combobox): tabindex for combobox cross button
  web-components/src/components/combobox/ComboBox.ts
  web-components/src/components/combobox/scss/combobox.scss
  web-components/src/components/combobox/scss/module.scss
Labels: bug, web component

#838 docs(web-components): storybook edit and add docs floating modal
  web-components/src/components/floating-modal/Floating.mdx
  web-components/src/components/floating-modal/FloatingModal.stories.ts
  web-components/src/components/floating-modal/README.md
Labels: docs, web component

#854 #CAX-935: Putting updated method in advance table component
  web-components/src/components/table-advanced/TableAdvanced.test.ts
  web-components/src/components/table-advanced/TableAdvanced.ts
Labels: bug, web component

#857 fix(menu-overlay): restore functionality
  web-components/src/components/menu-overlay/MenuOverlay.ts
Labels: bug, web component

#858 chore(web-components): update peer dependencies
  web-components/package.json
Labels: dependencies, web component

#855 feat(phone-input): add country flags options
  web-components/package.json
  web-components/src/[sandbox]/examples/phone-input.ts
  web-components/src/components/combobox/ComboBox.ts
  web-components/src/components/combobox/scss/combobox.scss
  web-components/src/components/phone-input/PhoneInput.stories.ts
  web-components/src/components/phone-input/PhoneInput.test.ts
  web-components/src/components/phone-input/PhoneInput.ts
  web-components/src/components/phone-input/scss/phoneInput.scss
  web-components/src/types/declare.d.ts
Labels: WIP, enhancement, web component
