Repository momentum-design/momentum-ui, pull requests merged in 2021-03, with the labels that each got.

#796 Advanced table
  web-components/src/[sandbox]/examples/index.ts
  web-components/src/[sandbox]/examples/table-advanced-mock.ts
  web-components/src/[sandbox]/examples/table-advanced.ts
  web-components/src/[sandbox]/sandbox.mock.ts
  web-components/src/[sandbox]/sandbox.ts
  web-components/src/components/button/Button.ts
  web-components/src/components/table-advanced/TableAdvanced.md
  web-components/src/components/table-advanced/TableAdvanced.mdx
  web-components/src/components/table-advanced/TableAdvanced.stories.ts
  web-components/src/components/table-advanced/TableAdvanced.test.ts
  web-components/src/components/table-advanced/TableAdvanced.ts
  web-components/src/components/table-advanced/scss/module.scss
  web-components/src/components/table-advanced/scss/settings.scss
  web-components/src/components/table-advanced/scss/table-advanced.scss
  web-components/src/components/table-advanced/src/decorators.ts
  web-components/src/components/table-advanced/src/filter.ts
  web-components/src/components/table-advanced/tokens/lm-table-advanced-tokens.js
  web-components/src/components/table-advanced/tokens/md-table-advanced-tokens.js
  web-components/src/components/table/scss/settings.scss
  web-components/src/index.ts
  web-components/webpack.config.ts
Labels: new component, web component

#807 feat(combobox): provide new error style
  web-components/src/[sandbox]/examples/combobox.ts
  web-components/src/[sandbox]/examples/table-advanced-mock.ts
  web-components/src/[sandbox]/examples/table-advanced.ts
  web-components/src/[sandbox]/sandbox.mock.ts
  web-components/src/[sandbox]/sandbox.ts
  web-components/src/components/combobox/ComboBox.test.ts
  web-components/src/components/combobox/ComboBox.ts
  web-components/src/components/combobox/scss/combobox.scss
  web-components/src/components/combobox/scss/settings.scss
  web-components/src/components/combobox/tokens/lm-combobox-tokens.js
  web-components/src/components/combobox/tokens/md-combobox-tokens.js
  web-components/src/components/help-text/HelpText.test.ts
  web-components/src/components/help-text/HelpText.ts
  web-components/src/components/table-advanced/TableAdvanced.test.ts
Labels: REVIEW, enhancement, web component

#811 test(table-advance): increase test coverage
  web-components/src/[sandbox]/examples/table-advanced.ts
  web-components/src/components/table-advanced/TableAdvanced.mdx
  web-components/src/components/table-advanced/TableAdvanced.stories.ts
  web-components/src/components/table-advanced/TableAdvanced.test.ts
  web-components/src/components/table-advanced/TableAdvanced.ts
  web-components/src/components/table-advanced/scss/table-advanced.scss
Labels: REVIEW, enhancement, web component

#808 Manro/tabs dropdown update
  web-components/src/[sandbox]/examples/tabs.ts
  web-components/src/[sandbox]/sandbox.ts
  web-components/src/components/tabs/Tabs.stories.ts
  web-components/src/components/tabs/Tabs.ts
Labels: enhancement, web component

#814 docs(table-advance): provide additional documentation
  web-components/src/[sandbox]/sandbox.ts
  web-components/src/components/table-advanced/TableAdvanced.mdx
Labels: REVIEW, docs, enhancement, web component

#809 feat(card): refactor card component
  web-components/src/[sandbox]/examples/card.ts
  web-components/src/[sandbox]/examples/favorite.ts
  web-components/src/[sandbox]/sandbox.mock.ts
  web-components/src/components/button/scss/settings.scss
  web-components/src/components/card/Card.stories.ts
  web-components/src/components/card/Card.test.ts
  web-components/src/components/card/Card.ts
  web-components/src/components/card/scss/card.scss
  web-components/src/components/card/scss/settings.scss
  web-components/src/components/favorite/Favorite.test.ts
  web-components/src/components/favorite/Favorite.ts
  web-components/src/components/menu-overlay/MenuOverlay.ts
Labels: new component, web component

#818 chore(docs): add versioning doc
  web-components/VERSIONING.md
Labels: docs, web component

#821 fix(input): prevent default action on input close button
  web-components/src/[sandbox]/examples/menu-overlay.ts
  web-components/src/components/input/Input.test.ts
  web-components/src/components/input/Input.ts
  web-components/src/components/input/scss/input.scss
  web-components/src/components/modal/Modal.test.ts
  web-components/src/components/modal/Modal.ts
  web-components/src/mixins/FocusTrapMixin.ts
Labels: REVIEW, bug, web component

#828 Add usa flag to PhoneInput country code dropdown combobox
  web-components/src/components/phone-input/PhoneInput.test.ts
  web-components/src/components/phone-input/PhoneInput.ts
  web-components/src/components/phone-input/scss/phoneInput.scss
Labels: WIP, enhancement, web component

#830 Review task-item icons
  web-components/src/[sandbox]/examples/task-item.ts
  web-components/src/components/taskitem/TaskItem.test.ts
  web-components/src/components/taskitem/TaskItem.ts
Labels: web component

#823 feat(core/alert): add base alert theming
  core/scss/components/alert/alert.scss
Labels: @core

#825 table focus
  web-components/src/components/table-advanced/TableAdvanced.ts
  web-components/src/components/table-advanced/scss/settings.scss
  web-components/src/components/table-advanced/scss/table-advanced.scss
Labels: enhancement, web component

#835 docs(input): provide more descriptive example
  web-components/src/[sandbox]/examples/modal.ts
  web-components/src/components/button/scss/button.scss
Labels: REVIEW, docs, web component
