Repository momentum-design/momentum-ui, pull requests merged in 2021-05, with the labels that each got.

#887 Adding part on floating body , adding height in floating body.
  web-components/src/components/floating-modal/FloatingModal.ts
  web-components/src/components/floating-modal/scss/floating.scss
Labels: bug, web component

#886 Border style doesn't work with sticky position
  web-components/src/components/table-advanced/scss/table-advanced.scss
Labels: bug, web component

#879 feat(accordian): Improve customization and events
  web-components/src/[sandbox]/examples/accordion.ts
  web-components/src/components/accordion/Accordion.ts
  web-components/src/components/accordion/AccordionItem.ts
Labels: web component

#916 feat(badge): add disabled property, class and styles with token defin…
  web-components/src/[sandbox]/examples/badge.ts
  web-components/src/components/badge/Badge.stories.ts
  web-components/src/components/badge/Badge.ts
  web-components/src/components/badge/scss/badge.scss
  web-components/src/components/badge/tokens/lm-badge-tokens.js
  web-components/src/components/badge/tokens/md-badge-tokens.js
Labels: enhancement, web component

#918 #CAX-1021: md-link default color
  web-components/src/components/link/tokens/lm-link-tokens.js
  web-components/src/components/link/tokens/md-link-tokens.js
Labels: bug, web component
